@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');

$fuente-principal: 'Roboto', sans-serif;
$fuente-titulos:'Slabo 27px', serif;
$color-titulo: #1976D2;
$bgColor: #BBDEFB;
$fontSize: 2rem;
$fontTextColor: #000;
$h2Color: #1b4491;



$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$orange:               #d96a0c;

